name: deploy to prod 8600
on:
  push:
    branches: [ master ]
jobs:

  build:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
    - name: executing remote connection
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.CICD_SECRET }}
        port: ${{ secrets.PORT }}
        command_timeout: 200m
        script: |
          cd /apps/github-workflows/kenyaemr-modules
          sudo rm -rf openmrs-module-kenyaemrextras
          sudo mkdir openmrs-module-kenyaemrextras
          sudo chown -R cicd2:cicd2 openmrs-module-kenyaemrextras
          git config --global --add safe.directory /apps/github-workflows/kenyaemr-modules/openmrs-module-kenyaemrextras 
          git clone https://github.com/palladiumkenya/openmrs-module-kenyaemrextras.git openmrs-module-kenyaemrextras
          cd /apps/github-workflows/kenyaemr-modules/openmrs-module-kenyaemrextras
          git status 
          mvn clean install -DskipTests
          sudo rm -rf /var/lib/OpenMRS/modules/kenyaemrextras-*.omod 
          sudo cp /apps/github-workflows/kenyaemr-modules/openmrs-module-kenyaemrextras/omod/target/kenyaemrextras-*.omod /var/lib/OpenMRS/modules/
          sudo chown -R tomcat:tomcat /var/lib/OpenMRS/modules/
          sudo chmod +r /var/lib/OpenMRS/modules/*.omod
          sudo chmod 755 /var/lib/OpenMRS/modules/*.omod
          sudo service tomcat9 restart
         
